* {

  box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

/* Login-signup */
.background-login-signup {
  background-image: url('./assets/bg-vector1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-position: 100% 0%;
  display: flex;
  justify-content: space-around;

}

.logo-container {
  display: flex;
  align-items: center;

}

.logo-text {
  font-weight: 400;
  font-size: 40px;
}

.login-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 3.47vh;
}

.login-footer-statement {
  margin-top: 1.8vh;
  align-self: flex-end;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.login-footer-statement-register {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}

.login-button {
  border: none;
  height: 8.19vh;
  width: 29.21vw;
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.login-footer-line {
  width: 72px;
  border: 0.5px #262427 solid;

}

.continue-with {
  font-weight: 400;
  font-size: 12px;
  margin: auto 4px;
  color: #26242780;
  ;
}

.login-footer-continue-with-element {
  align-self: center;
  display: flex;
  align-items: center;
  margin-top: 7.77vh;
  margin-bottom: 1.28vh;

}

.login-signin-options {
  display: flex;
  justify-content: space-around;
}

.brand-logo{
  cursor: pointer;
}

.logo {
  width: 344.174560546875px;
  height: 252.38677978515625px;
  top: 227px;
  left: 135px;

}

.icon-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.text-icon {
  color: #C8C8C8;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 10px;
  top: 37.5%;
  transform: translateY(-50%);
}

.input-field {
  height: 8.19vh;
  width: 29.21vw;
  margin-bottom: 3.19vh;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 50px;
}

.input-field.password{
  -webkit-text-security: disc;
  text-security: disc;
}



.file-input-icon-wrapper{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.icon {
  height: 25px;
  width: 25px;
  color: #C8C8C8;

}

.input-field::placeholder {
  color: #C8C8C8;
  font-weight: 300;
  font-size: 20px;
}

/* Navbar */
.navbar {
  background-color: #C87D25;
  min-height: fit-content;

}

.navbar-logo {
  margin-left: 6px;
  margin-top: 5px;
}

/* textbox without icon */
.text-box-plain {
  height: 55px;
  width: 325px;
  order: 1;
  font-size: 16px;
  font-weight: 400;
  color: #C8C8C8;
  border: 1px #C8C8C8 solid;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 32px;
}
.text-box-plain::placeholder{
  font-size: 16px;
  font-weight: 400;
  color: #C8C8C8;
}



/* Dashboard */
.dashboard-body {
  margin-left: 6.64vw;
  margin-right: 6.25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.dashboard-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

.dashboard-subheading {
  font-size: large;
}

/* button */
.dashboard-footer {
  position: relative;
  padding-top: 7.5vh;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  margin-bottom: 6.94vh;
}

.button-back {
  background-color: #fff;
  height: 7.9vh;
  padding: 10px 58px;
  border: 1px #C87D25 solid;
  border-radius: 10px;
  box-shadow: none;
  color: #C87D25;
  margin-right: 23px;

  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.button-next {
  background-color: #C87D25;
  height: 7.9vh;
  padding: 10px 58px;
  border-radius: 10px;
  box-shadow: none;
  border: 0;
  color: #fff;

  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

}

.file-input-container {
  border: 1px #C8C8C8 solid;
  height: 7.63vh;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.file-input-container.four{
    width: 19.29vw;
}
.file-input-container.three{
  width: 25.39vw;
}
.pet-images{
  width: 19.2vw;
  padding-right: 3.2vh;
}

.file-input-icon-wrapper {
  position: relative;
  order: 2;
}

.file-input-field {
  font-size: 16px;
  font-weight: 400;
  color: #C8C8C8;
  order: 1;
}


.close-button {
  position: absolute;
  top: 12.5%;
  right: 1.95%;
  cursor: pointer;
}

/* terms and conditions */
.terms-and-conditions-body{
  padding-left: 5.70vw;
  padding-right: 13.2vh;
  padding-top: 6.25vh;
}
.terms-and-conditions{
  padding-bottom: 13.33vh;
}
 /* progress bar */
 .stepper-wrapper {
  margin-top: 5.5vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 15px;
  left: -50%;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 15px;
  left: 50%;
}



.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active .step-counter{
  background-color: #C87D25;
}

.stepper-item.active::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #C87D25;
  width: 0%;
  top: 20px;
  left: 50%;
}


.stepper-item.completed .step-counter {
  background-color: #C87D25;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #C87D25;
  width: 100%;
  top: 15px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}

.check-icon {
  color: #FFFFFF;
  height: 20px;
  width: 20px;
}

.progress-bar {
  position: relative;
  height: 3px;
  background-color: #ccc;
  overflow: hidden;
  margin-top: 20px;
}

.progress-bar-line {
  position: absolute;
  height: 100%;
  background-color: #C87D25;
}
.progress-bar-headings{
  font-weight: 700;
  font-size: 16px;
  color: #C87D25;
}
