* {

  box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

/* Login-signup */
.background-login-signup {
  background-image: url('./assets/bg-vector1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-position: 100% 0%;
  display: flex;
  justify-content: space-around;

}

.logo-container {
  display: flex;
  align-items: center;

}

.logo-text {
  font-weight: 400;
  font-size: 40px;
}

.login-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 3.47vh;
}

.login-footer-statement {
  margin-top: 1.8vh;
  align-self: flex-end;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.login-footer-statement-register {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}

.login-button {
  border: none;
  height: 8.19vh;
  width: 29.21vw;
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

.login-footer-line {
  width: 72px;
  border: 0.5px #262427 solid;

}

.continue-with {
  font-weight: 400;
  font-size: 12px;
  margin: auto 4px;
  color: #26242780;
  ;
}

.login-footer-continue-with-element {
  align-self: center;
  display: flex;
  align-items: center;
  margin-top: 7.77vh;
  margin-bottom: 1.28vh;

}

.login-signin-options {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 344.174560546875px;
  height: 252.38677978515625px;
  top: 227px;
  left: 135px;

}

.input-field {
  height: 8.19vh;
  width: 29.21vw;
  margin-bottom: 3.19vh;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 65px;


}
.file-input-icon-wrapper{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.icon {
  height: 25px;
  width: 25px;
  color: #C8C8C8;

}

.input-field::placeholder {
  color: #C8C8C8;
  font-weight: 300;
  font-size: 20px;
}

/* Navbar */
.navbar {
  background-color: #C87D25;
  min-height: fit-content;

}

.navbar-logo {
  margin-left: 6px;
  margin-top: 5px;
}

/* textbox without icon */
.text-box-plain {
  height: 55px;
  width: 325px;
  border: 1px #C8C8C8 solid;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 32px;


}



/* Dashboard */
.dashboard-body {
  margin-left: 85px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 76px;

}

.dashboard-row {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.dashboard-subheading {
  font-size: large;
}

/* button */
.dashboard-footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.button-back {
  background-color: #fff;
  padding: 10px 58px;
  border: 1px #C87D25 solid;
  border-radius: 10px;
  box-shadow: none;
  color: #C87D25;
  margin-right: 23px;

  font-weight: bold;
  font-size: 24;
  cursor: pointer;
}

.button-next {
  background-color: #C87D25;
  padding: 10px 58px;
  border-radius: 10px;
  box-shadow: none;
  border: 0;
  color: #fff;

  font-weight: bold;
  font-size: 24;
  cursor: pointer;

}

.file-input-container {
  border: 1px #C8C8C8 solid;
  height: 55px;
  width: 325px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */

}

.file-input-icon-wrapper {
  position: relative;
  order: 2;
}

.file-input-field {
  font-size: 16px;
  font-weight: 400;
  color: #C8C8C8;
  order: 1;
}

.check-icon{
  height: 20px;
  width: 20px;
}
.indexedStep {
  color: rgb(190, 190, 190);
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: #C87D25;
  color: white;
  border-style: none;
}

.RSPBprogressBar {
  height: 2px;
  width: 68%;
  line-height: 1;
  border-radius: 10px;
  position: relative;
  background-color: rgb(207, 207, 207);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  margin: 20px auto;
}

.RSPBprogressBar .RSPBstep {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  transform: translateX(-50%);
  transition-property: all;
  transition-timing-function: ease;
}

.RSPBprogressBar .RSPBprogressBarText {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.RSPBprogressBar .RSPBprogression {
  position: absolute;
  transition: width 0.3s ease;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: #C87D25;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .indexedStep {
    width: 15px;
    height: 15px;
    font-size: 6px;
  }
}

.terms-and-conditions {
  margin-left: 5.7vw;
  margin-right: 13.2vw;
}